* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Nosifer', cursive;
  font-size: 5em;
  color: rgb(175,5,5);
  margin: 25px 0px 0px 0px;
  text-align: center;
}

p {
  font: 2em bold;
  font-family: 'Amatic SC', cursive;
  margin: 0px 0px 15px 0px;
  text-align: center;
}

.display {
  font: 1.5em bold;
  font-family: 'Amatic SC', cursive;
  margin: 10px auto;
}

button {
  margin: auto;
  display: block;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #DEDEDE;
  cursor: pointer;
}

.gallows {
  height: 500px;
  width: 50%;
  border: 1px solid #000;
  border-collapse: collapse;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#guess-word {
  width: 48%;
  font: 3em bold;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#keyboard-table {
  width: 75%;
  font: 2em bold;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px auto 25px;
}

#keyboard-row {
  width: 75%;
  font: 1em bold;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px auto 25px;
}

#keyboard-row td {
  margin: 5px;
  width: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-color: #DEDEDE;
  border-collapse: collapse;
  height: 50px;
  cursor: pointer;
}

#keyboard-row td.disabled {
  display: none;
}

footer {
  text-align: center;
  font-size: 10px;
}
